<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
</head>
<body>
    <div class="container">
        <h1 style="background-color: rgb(243, 198, 143); padding: 10px;">Graphs:</h1>
        <div style="background-color: bisque; padding: 10px;"><a href="/section_graph"><h2>Section Graph</h2></a></div><br>
        <div style="background-color: bisque; padding: 10px;"><a href="/request_graph"><h2>Requested Books Graph</h2></a></div><br>
        <div style="background-color: bisque; padding: 10px;"><a href="/issue_graph"><h2>Issued Books Graph</h2></a></div><br>
    </div>
</body>
</html>